html{
    background-color: gray;
}
body{
    height:800px;
    background-color:rgba(255,255,255,0.3); 
    font-size: 16pt;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}
header nav{
    background:black;
}

header nav ul{
    text-align: center;
    margin: 0;
    list-style: none;
}

header nav ul li{
    font-family: serif;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

header nav ul li  a{
    color: white;
    text-decoration: none;
}

footer div {
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.mypic{
    text-align: center;    
}

.mypic img{
    height: 200px;
    width:200px;
    border: solid 1px white;
    border-radius: 50%;
}

.contact-form , .social-media{
    position: relative;
    float: left;
    width: 45%;  
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
